USE [CURSOR]
GO
/****** Object:  Table [dbo].[desafio_cursor]    Script Date: 13/10/2021 11:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[desafio_cursor](
	[DATA_ID] [varchar](8) NULL,
	[PERIODO_ID] [varchar](6) NULL,
	[CURSO_ID] [varchar](3) NULL,
	[CURSO] [varchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[desafio_cursor] ([DATA_ID], [PERIODO_ID], [CURSO_ID], [CURSO]) VALUES (N'20180828', N'2019/1', N'FCD', N'Ciência de Dados')
INSERT [dbo].[desafio_cursor] ([DATA_ID], [PERIODO_ID], [CURSO_ID], [CURSO]) VALUES (N'20180828', N'2019/1', N'FED', N'Engenharia de Dados')
INSERT [dbo].[desafio_cursor] ([DATA_ID], [PERIODO_ID], [CURSO_ID], [CURSO]) VALUES (N'20180828', N'2019/1', N'FED', N'Engenharia de Dados')
GO
